.panel.panel-primary
  .panel-heading
    %h4
      Resolved Tickets
      %span.badge.pull-right
        =@tickets.count - count_open_tickets(@tickets)
  .panel-group{ :id => 'accordion_open'}
    - @tickets.each do |ticket|
      -if ticket_resolved(ticket)
        .panel{class: ticket_status(ticket, 'panel')}
          %table.table
            %tbody
              %tr{class: ticket_status(ticket, 'none')}
                %td{style: 'padding-left:1%; width:15%'}
                  %h4{style:'margin:0px'}
                    %b Ticket #{ticket.id}:
                    %p{style: 'margin:0px'}
                      = ticketable_info(ticket)
                %td{style: 'width:25%'}
                  -if ticketable_info(ticket) == 'Printer'
                    %b= ticket.ticketable.ps_connection_information.print_station.location unless ticket.ticketable.nil?
                    %p=link_to ticket.ticketable.serial_number, ticket.ticketable unless ticket.ticketable.nil?
                  -if ticketable_info(ticket) == 'Computer'
                    %b= ticket.ticketable.print_station.location unless ticket.ticketable.print_station.nil?
                    %p=link_to ticket.ticketable.service_tag, ticket.ticketable
                  -if ticketable_info(ticket) == 'PrintStation'
                    %b Print Station
                    %p=link_to ticket.ticketable.location, ticket.ticketable
                %td{style: 'width:30%'}
                  %strong Ticket type:
                  %p= find_issue(ticket)
                %td{style: 'width:25%'}
                  %strong Submitted by:
                  %p= ticket.created.name
                %td{style: 'vertical-align:middle; width:5%'}
                  %a.glyphicon.glyphicon-chevron-down{"data-parent" => "#accordion_open", "data-toggle" => "collapse", href: "#collapse#{ticket.id}"}
          .panel.panel-collapse.collapse{id: "collapse#{ticket.id}"}
            %table.table.table-condensed
              - ticket.ticket_issues.each do |issue|
                %tbody{style: 'font-size:14px'}
                  %tr{class: issue_status(issue)}
                    %td{style: 'padding-left:2%'}
                      %b Issue
                      %br= issue.issue_type.issue unless issue.issue_type.nil?
                    %td
                      %b Description
                      %br= issue.description
                    %td
                      %b Date Resolved
                      %br= issue.resolved_at.strftime("%B %d, %Y %l:%M %p" )
                    %td 
                      %b Resolved By
                      %br= issue.resolved.name unless issue.resolved.nil?
                    %td{style: 'vertical-align:middle'}
                      = link_to issue, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-sm' do
                        %i.glyphicon.glyphicon-trash
                  %tr{class: issue_status(issue)}
                    %td{:colspan => '5', style: 'padding-left:3%'}
                      %b Resolution:
                      = issue.resolution_notes unless issue.resolution_notes.nil?                          
